
.menu {
    background-color:  #242222;
    width: 100%;
    height: 800px;
}

.pages {
    display: flex;
    height: 200px;
    width: 200px;
    margin: 20px;
    font-size: 30px;
    justify-content: space-between;
    text-align: center;
}



.menuPages{
    height: 200px;
    width: 200px;
    border: 2px solid #CDA894;
    font-size: 30px;
    text-align: center;
    color: #CDA894;
    background-color:  #242222;
}

.menuPages:hover {
    cursor: pointer;
    background-color: #CDA894;
    color: white;
}

