.profileIcon {
   color: #383535;
   height: 30px;
   width: 30px;
}

.profileIcon:hover {
    color: #E3B59B;
}

.btn {
    
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

