.profileIcon {
   color: #383535;
   height: 35px;
   width: 35px;
   
}

.profileIcon:hover {
    color: #E3B59B;
}

.btn {
    padding-right: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

