.dropdown-menu {
    width: 300px;
    position:absolute;
    top: 80px;
    right: 30px;
    list-style: none;
    text-align: center;
   
}

.dropdown-menu li {
    background-color:#242222;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #ebc3ac;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}