.dropdown-menu {
    width: 200px;
    position:absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
}

.dropdown-menu li {
    background-color: #E3B59B;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #ebc3ac;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}