@font-face {
  font-family:Quicksand;
  src: url(./Quicksand/Quicksand-VariableFont_wght.ttf)
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: Quicksand ;
  user-select: none;
}

.home, .menu, .about, .donations, .help, .login, .cart {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-position: center;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  margin-bottom: 0px;
  width: 100%;
}

.goldenName {
  color:#CDA894;
  text-align: center;
  top: 230px;
  font-size: 130px;
  left: 25%;
  position: absolute;
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  user-select: none;
}

.motto {
  color: #CDA894;
  text-align: center;
  font-size: 25px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 50%;
}


#contentWrap {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  width: 100%;
  height: 400px;
}

#family {
  height: 200px;
  width: 300px;
}
.imageContainer {
  background-position: center;
  background-image: url('./images/golden-you.png');
  background-size: cover;
  margin: 50px, 50px, 50px, 50px;
  width: 100%;
  background-color: transparent;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.productContainer{
  background-position: center;
  background-image: url('./images/GOLDENYOU.png');
  background-size:cover;
  margin: 50px, 50px, 50px, 50px;
  width: 100%;
  background-color: transparent;
  height: 600px;
}

.donationsHome{
  background-position: center;
  background-image: url('./images/portion.png');
  background-size:cover;
  margin: 50px, 50px, 50px, 50px;
  width: 100%;
  background-color: transparent;
  height: 600px;
}

.donationsBtn {
  border: 2px solid white;
  height: 70px;
  width: 250px;
  font-size: 25px;
  color: white;
  background-color:  #CDA894;
  margin-top: 390px;
  margin-left: 410px;
  padding: auto;
  z-index: 0;
}

.donationsBtn:hover {
  cursor: pointer;
  color: #CDA894;
  background-color:white ;
}

.ourStoryBtn {

  border: 2px solid #CDA894;
  height: 60px;
  width: 150px;
  font-size: 20px;
  color: #CDA894;
  background-color: white;
  margin-top: 525px;
  margin-left: 860px;
  padding: auto;
  z-index: 0;
}

.ourStoryBtn:hover {
  cursor: pointer;
  color: white;
  background-color:#CDA894 ;
}

.productsBtn {
  border: 2px solid #CDA894;
  position: absolute;
  height: 70px;
  width: 200px;
  font-size: 30px;
  color: #CDA894;
  background-color: white;
  margin-top: 270px;
  margin-left: 435px;
  padding: auto;
  z-index: 0;
}

.productsBtn:hover {
  cursor: pointer;
  color: white;
  background-color:#CDA894 ;
}

.bar {
  height: 150px;
  width: 100%;
  background-color: #CDA894;
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
  padding: 40px 200px 100px 200px;
  color: white;
}

.needHelp {
  height: 150px;
  width: 100%;
  background-color: white;
  border: 2px solid #CDA894;
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
  color: #CDA894;
}
 
.helpBtn {
  border: none;
  height: 70px;
  width: 300px;
  font-size: 30px;
  color: #CDA894;
  background-color: white;
}

.helpBtn:hover {
  cursor: pointer;
  color: white;
  background-color: #CDA894;
}


